// Стили блока формы регистрации

@import "../../../styles/sassFiles/variables";

// Стили общего блока
.signUp_wrapper {
  width: 100%;
  padding: 150px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background_color;
}

.signUp_text {
  h1 {
    text-align: center;
    margin-bottom: 25px;
  }

  p {
    max-width: 450px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .signUp_wrapper {
    padding: 110px 15px;
  }
}

@media screen and (max-width: 479px) {
  .signUp_wrapper {
    padding: 80px 15px;
  }
} // Стили общего блока

// Стили блока формы <form>
.form {
  max-width: 470px;
  width: 100%;
}

.formPar {
  display: block;
  font-size: 12px;
  margin-top: -10px;
}

.positionPar {
  margin-top: 20px;
  margin-bottom: 10px;
}

.formButton {
  border: 0;
  margin: 0 auto;
  margin-top: 40px;

  &:active,
  &:focus {
    outline: none;
  }
}

// Стили для input при ошибке
.formError {
  border: 1px solid $primary_color !important;
  border-radius: 5px;
}

// Стили блока текстовых инпутов input[type:text]
.formInputs {
  width: 100%;
  min-height: 40px;
  outline: none;
  border: 1px solid #ccc;

  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #000;
}

.formInputsDisabled {
  border: 1px solid #888;
  background-color: #e9e9e9;
  color: #888;
}

//стили в активном состоянии
.formActive:focus,
.formActive:active {
  border: 1px solid $secondary_color;
  box-shadow: 0 0 0 3px rgba($secondary_color, 0.1) !important;
  border-radius: 5px;
}

.activeInputError {
  border: 1px solid $primary_color;
  &:focus,
  &:active {
    box-shadow: 0 0 0 3px rgba($primary_color, 0.3) !important;
    border-radius: 5px;
  }
} // Стили блока текстовых инпутов input[type:text]

// Стили input[type:radio]
.inputRadio {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  width: 16px;
  height: 16px;
  border-radius: 50%;

  border: 1px solid #aaa;
  outline: none;
  transition: 0.2s all linear;
  margin-right: 15px;
  margin-top: 10px;

  &:checked {
    border: 5px solid $secondary_color;
  }
} // Стили input[type:radio]

// Стили блока input[type:file]
.formInputBlock {
  margin-top: 20px;

  input[type="file"] {
    display: none;
  }

  label {
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background_color2;
    border: 1px solid #ccc;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }
}

.formInputWrapper {
  margin-top: 10px;
  display: flex;
}

.textBlock {
  max-width: 390px;
  width: 100%;
  min-height: 40px;
  border: 1px solid #ccc;
  color: #555555;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

//Стили при ошибке и в активном состоянии
.formErrorLine {
  border-right: 1px solid $primary_color !important;
}

.formActiveLine {
  border-right: 1px solid $secondary_color !important;
}
.formActiveFile {
  border: 1px solid $secondary_color;
  box-shadow: 0 0 0 3px rgba($secondary_color, 0.1);
  border-radius: 5px;
} // Стили блока input[type:file]
