@import "./styles/sassFiles/variables";

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  min-width: 360px;
}

.displayN {
  display: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  line-height: 54px;

  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 4px;
}

h2 {
  font-size: 24px;
  line-height: 29px;

  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: #000;

  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 1px;
}

.footerTask {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  border-top: 1px solid #ddd;
}

.primaryLink {
  width: 210px;
  color: $background_color;
  background-color: $primary_color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s linear;
  padding: 10px 0;
  font-size: 16px;

  &:hover {
    background-color: darken($primary_color, 19);
  }
}

.disabledLink {
  width: 210px;
  color: #888;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 30px;
    line-height: 34px;
  }
}
